​​​{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Card Results</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!--Navigation Bar-->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<!-- Brand/logo --> <a class="navbar-brand" href="#">GoGoGnomes ITC 2020</a>
		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item"> <a class="nav-link" href="{% url 'index' %}">Home</a>
			</li>
			<li class="nav-item"> <a class="nav-link" href="{% url 'upload' %}">Create</a>
			</li>
			<li class="nav-item"> <a class="nav-link" href="#">Help</a>
			</li>
		</ul>
	</nav>
	<div id="page-container">
		<div id="content-wrap">
			<!--Image Gallery Light Box-->
			<div class="container-fluid">
				<div class="row">
					<div class="col text-center">
						<div style="margin-bottom:50px; margin-top:50px">
							<h3>Your photos are ready!</h3>
							<h4> Here are your amazing options for your holiday cards!<h4>
					<a data-fancybox="gallery" class="lightbox" href="../media/image0.png" data-caption="Caption for single image">
						<img src="../media/image0.png" alt="" width="500" height="200" hspace="10" vspace="10" class="rounded"/>
					</a>
					<a data-fancybox="gallery" class="lightbox" href="../media/image1.png" data-caption="Caption for single image">
						<img src="../media/image1.png" alt="" width="500" height="200" hspace="10" vspace="10" class="rounded"/>
					</a>
					<a data-fancybox="gallery" class="lightbox" href="../media/image2.png" data-caption="Caption for single image">
						<img src="../media/image2.png" alt="" width="500" height="200" hspace="10" vspace="10" class="rounded"/>
					</a>
					<a data-fancybox="gallery" class="lightbox" href="../media/image3.png" data-caption="Caption for single image">
						<img src="../media/image3.png" alt="" width="500" height="200" hspace="10" vspace="10" class="rounded"/>
					</a>
					<a data-fancybox="gallery" class="lightbox" href="../media/image4.png" data-caption="Caption for single image">
						<img src="../media/image4.png" alt="" width="500" height="200" hspace="10" vspace="10" class="rounded"/>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
	<!--Footer-->
	<footer class="footer fixed-bottom">
		<div class="col text-center">
			<a href="https://github.com/bevrist/ITC-2020" class="fa fa-github" style="color:#FFFFFF; font-size:150px; text-decoration: none;"></a>
			<p class="text-light copy">Copyright © GoGoGnomes 2020</p>
		</div>
	</footer>
	
    <!--Lightbox control script-->
	<script>
		function($){
		$(document).ready(function(){
		$('.lightbox').fancybox();
		});
		})(jQuery)
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</div>
</body>

</html>