{% load static %}
<!DOCTYPE html>
<html>
    
    
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

    <body>

    <div id="container">

        <div id="spacer">
            <br>
        </div>

        <div id="content">
            <h2 class="main-title">Welcome</h2>
            <p class="sub-title">Home of the Go Go Gnomes ITC 2020 Webpage</p>
        </div>

        <div id="selection-bar">
            <div><a class="link" href="http://localhost:8000/upload">Upload</a></div><div>About Us</div><div>Samples</div>
        </div>

        <div id="samples">
            <h4>Test</h4>
        </div>
    </div>


    <footer id="footer">
        <p>
        <a href="https://github.com/bevrist/ITC-2020"><input type="image" src="{% static 'images/GitHub-Mark-32px.png' %}"/></a>
        </p>
    </footer>
    
    </body>


</html>