{% load static %}
<!DOCTYPE html>
<html>
    
    
    <head>
        <title>Homepage2</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

    <body>

    <div id="container">
        <div id="main">
            <h1><center>Welcome to Go Go Gnomes Holiday Card Creation!</center></h1>
            <br>
            <p>Home of the Go Go Gnomes ITC 2020 Web App!</p>
        </div>

        <div id="homeimage">
        <p class="home-image"> <img src="{% static 'images/happy-holidays.jpg' %}" alt="image" height="800" width="800"> </p>
        </div>
    </div>


    <footer id="footer">
        <p>
        <a href="https://github.com/bevrist/ITC-2020"><input type="image" src="{% static 'images/GitHub-Mark-32px.png' %}"/></a>
        </p>
    </footer>
    
    </body>


</html>