* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%
}

#container {
    min-height: 100%;
    background-color: rgb(164, 219, 169);
}

#main {
    overflow: auto;
    padding-bottom: 50px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(55, 76, 87);
    color: white;
    text-align: center;
}

#spacer {
    padding-top: 50px;
    background-color: rgb(164, 219, 169);
}

#content {
    overflow: auto;
    margin-left: 75px;
    margin-right: 75px;
    background: center;
    background-color: white;
}

#selection-bar {
    margin-left: 75px;
    margin-right: 75px;
    background-color: rgb(49, 87, 52);
    padding-top: 5px;
    padding-bottom: 5px;
}

#selection-bar > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
    color: white;
}

#samples {
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;
    padding-bottom: 300px;
    background-color: white;
}

#footer {
    background-color: rgb(55, 76, 87);
    position: relative;
    height: 50px;
    padding: 25px;
    margin-top: -50px;
    clear: both;
}


.home-image {
    text-align: center;
    background-color: rgb(9, 39, 65);
}

.main-title {
    text-align: center;
    margin-top: 25px;
    font-size: 50px;
    font-style: oblique;
    font-weight: 700;
}

.sub-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-style: oblique;
    font-weight: 700;
}

footer p {
    color: white;
    font-size: 18px;
    text-align: center;
}
