#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  
}

#footer {
  background:#343a40;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.copy {
    padding-top: 5px;
}