* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%
}

#container {
    min-height: 100%;
    background-color: rgb(164, 219, 169);
    text-align: center;
}

#spacer {
    background-color: rgb(164, 219, 169);
    padding-top: 50px;
}

#main {
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
}

#main h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: oblique;
}

#selection-bar {
    margin-left: 75px;
    margin-right: 75px;
    background-color: rgb(49, 87, 52);
    padding-top: 5px;
    padding-bottom: 5px;
}

#selection-bar > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
    color: white;
}

.selection-bar-link {
    color: white;
}

.selection-bar-link:hover {
    color: grey;
}

#content {
    text-align: center;
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    padding: 100px;
}

#image-upload {
    border: 2px solid black;
    padding: 10px;
}

#footer {
    background-color: rgb(55, 76, 87);
    position: relative;
    height: 50px;
    margin-top: -50px;
    padding: 25px;
    clear: both;
}

#footer p {
    text-align: center;
}